<div class="right-link">
  <%= link_to "Return to All Proposals", proposals_path %>
</div>

<h1>Sub-arguments</h1>

<%= render @position %>

<%= render partial: "position_tree" %>

<div class="responses">
  <% @position.responses.each do |r| %>
    <%= render r %>
  <% end %>
</div>
