<div class="detail-box proposition">
  <%= link_to "", proposition_path(proposition), class: "overlay" %>
  <div class="row">
    <div class="col-md-9">
      <h3><%= proposition.title %></h3>
      <blockquote>
        <p><%= proposition.body %></p>
        <footer><%= proposition.user_name %></footer>
      </blockquote>
    </div>
    <div class="col-md-3">
      <svg class="half-donut"></svg>
    </div>
  </div>
</div>
