<div class="proposal">
  <div class="row">
    <div class="col-md-9">
      <h3><%= proposal.title %></h3>
      <blockquote>
        <p><%= proposal.body %></p>
        <footer><%= proposal.user_name %></footer>
      </blockquote>
      <p>
        <a class="wide-link text-success"><i class="glyphicon glyphicon-thumbs-up"></i> Write Agreement</a>
        <a class="wide-link text-danger"><i class="glyphicon glyphicon-thumbs-down"></i> Write Disagreement</a>
      </p>
    </div>
    <div class="col-md-3">
      d3 Stuff
    </div>
  </div>
</div>
