<div class="right-link">
  <%= link_to "Add New Proposal", new_proposal_path %>
</div>

<h1>All Proposals</h1>

<%= render @proposals %>

<script>
  var allPercentages = [<%= @proposals.map{|p| p.percentage_agreement.round}.join(", ") %>];
</script>
