/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.detail-box {
  border: 1px solid lightgrey;
  font-weight: 200;
  margin: 10px 0px;
  padding: 10px 20px;
  position: relative; // Needed for fully-clickable region

  a.overlay { // Needed for fully-clickable region
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  a.over-overlay { // Needed for links over fully-clickable region
    position: relative;
    z-index: 20;
  }

  h3 {
    margin-top: 0px;
  }
  blockquote {
    margin-bottom: 10px;
  }

  &.proposition {
  }

  &.proposition-tree, &.claim-tree {
    background-color: lightgrey;
  }

  &.claim {
    cursor: pointer;
    min-height: 175px;
  }
}

.responses {
  .position {
    margin-left: 40px;
  }
}

.wide-link {
  display: inline-block;
  margin-right: 30px;
}

text.overall-percentage {
  font-weight: 100;
  font-size: 50px;
}

.arc path {
  stroke: #fff;
}

.side {
  text-align: center;
  .side-count {
    margin-top: 15px;
    .lead {
      margin-bottom: 0px;
    }
  }
}

.right-link {
  margin-top: 40px;
  float: right;
}

.alert {
  margin-top: 10px;
  margin-bottom: 0px;
}
